# Xcode
#
build/
DerivedData/
*.xcuserdatad/
*.xcuserdata/
*.lock
*.xcscmblueprint
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# Swift Package Manager
#
Packages
.swiftpm/
.build/

# CocoaPods
#
Pods/
Podfile.lock
*.xcworkspace

# Carthage
#
Carthage/Build/

# Fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Firebase
#
GoogleService-Info.plist

# Env files
.env
.env.*

# Temporary files
#
*.tmp
*.swp
*.swo
*.DS_Store
*.icloud
*.moved-aside
*.idea/

# Logs
#
*.log

# Other iOS specific
#
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcdebugger
*.xcsettings
profile
*.moved-aside
*.xcuserstate

